<div class="container mt-4">
  <h2>Student List</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Roll No</th>
        <th>Class</th>
        <th>Addresses</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{ student.name }}</td>
        <td>{{ student.rollNo }}</td>
        <td>{{ student.class }}</td>
        <td>
          <ul>
            <li *ngFor="let address of student.addresses">
              {{ address.street }}, {{ address.city }}
            </li>
          </ul>
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="deleteStudent(student.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
